*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: hsl(30, 38%, 92%) ;
    /* margin: 50px; */
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
#container{
       display: flex;
       width: 600px;
       height: 400px;
       background-color: white;
       overflow: hidden;
       border-radius: 10px;
}
#image{
    width: 50%;
    height: 100%;
}
img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
#body{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    background: white;
}
h2{
    color: grey;
    padding: 5px 0;
}
h4{
    font-size: 40px;
    font-weight: 900;
}
#p{
    color: grey;

}
#re{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* vertical-align: middle; */
    color: green;
    margin:10px 0;
    font-size: 25px;
    font-weight: bold;
}
span{
    text-decoration: line-through;
    font-size: 10px;
    color: grey;
    margin-left: 20px;
}
#down{
    display: flex;
    justify-content: center;
}
button{
    border: 1px solid;
    width: 100%;
    height: 40px;
    background-color: green;
    color: white;
    border-radius: 10px;
}

@media (max-width: 600px) {
    #container {
        flex-direction: column;
        width: 90%;
        height: auto;
    }
    #image {
        width: 100%;
        
    }
    #body {
        width: 100%;
    }
}